In [1]:
14/3

[1] 4.666667

In [3]:
x <- c(6,1,7)
sd(x)

[1] 3.21455

In [4]:
mean(x)

[1] 4.666667

In [5]:
var(x)

[1] 10.33333

In [7]:
sqrt(86)

[1] 9.273618

In [25]:
data <- data.frame(x)
data

  x
1 6
2 1
3 7

In [32]:
library(dplyr)
x <- c(6,1,7)
c <- data %>% mutate(
    dif=x-mean(x),
    difs=dif^2,
    abs=abs(dif)
)
c

  x dif       difs      abs
1 6  1.333333  1.777778 1.333333
2 1 -3.666667 13.444444 3.666667
3 7  2.333333  5.444444 2.333333

In [38]:
sum(c$difs) / 2

[1] 10.33333

In [36]:
sum(c$abs) / 2

[1] 3.666667

In [41]:
x

[1] 6 1 7

ERROR: Error in UseMethod("determinant"): no applicable method for 'determinant' applied to an object of class "c('double', 'numeric')"

In [63]:
m <- matrix(seq(1:4),nrow=2,ncol=2)
det(m)

[1] -2

In [64]:
m

     [,1] [,2]
[1,] 1    3
[2,] 2    4